 .homepage{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;
 }

 .left { 
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}
 .right { 
    flex: 1;
    display: flex;
}