.rootLayout{
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}
header .logo img{
    width: 32px;
    height: 32px;
}

main{
    flex: 1;
    overflow: hidden ;
}